@import '../../../../styles';

.mat-card{
  background:mat-color($primary,700);
}
.italic{
 font-style:italic;
// color:mat-color($accent,A400);
}
.color-white{
  color:orange;
}

.material-icons{
  font-size: 14px;
  @extend .color-white;
}
