@import '../../../../styles';

.mat-card{
  background:mat-color($primary,500);
  border-width: 5px;
  border-color:($primary,700);
}
.italic{
 font-style:italic;
// color:mat-color($accent,A400);
}
.color-white{
  color: white;
}

.material-icons{
  font-size: 14px;
  @extend .color-white;
}
